@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
    --mainFont: #333;
    --blue: #2b5fad;
    --btnColor: #2c3a61;
    --footerbg: #5f5c5c;
    --hover: #c1d2e1;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    color: var(--mainFont);
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    scroll-behavior: smooth;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: var(--mainFont);
}
.btn {
    max-width: 244px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--btnColor);
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    border: 1.1px solid var(--blue);
    text-align: center;
    transition: all 0.2s ease-in;
}
.btn:hover {
    background-color: var(--hover);
}

.title {
    color: var(--blue);
    font-size: 46px;
    font-weight: 400;
    margin: 0;
    margin-left: 120px;
}
.title > span {
    color: var(--blue);
}
.header {
    background: rgba(202, 202, 209, 0.3);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
.sticky {
    z-index: 5;
    position: sticky;
    top: 0;
    width: 100%;
}
.sticky + body {
    padding-top: 110px;
}
.header > .container {
    display: -ms-grid;
    display: grid;
    gap: 0 20px;
    padding: 32px 60px;
    -ms-grid-columns: 2fr 20px 1fr;
    grid-template-columns: 2fr 1fr;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header__menu {
    list-style: none;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0 50px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.header__link {
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
.header__link:hover {
    -webkit-transform: scale(120%);
    -ms-transform: scale(120%);
    transform: scale(120%);
}
.header__btn {
    -ms-grid-row-align: center;
    -ms-grid-column-align: end;
    place-self: center end;
    padding: 8px 16px;
}
.hero {
    background-color: white;
    position: relative;
}
.hero::before {
    content: url(./img/hero-bottom-lines.svg);
    position: absolute;
    bottom: -46px;
    left: 0;
}
.hero > .container {
    display: -ms-grid;
    display: grid;
    padding: 53px 60px;
    padding-right: 100px;
    gap: 0 10px;
    -ms-grid-columns: 1fr 10px minmax(300px, 490px);
    grid-template-columns: 1fr minmax(300px, 490px);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.hero__info {
    padding-top: 75px;
    padding-bottom: 50px;
}
.hero__info-title {
    color: var(--blue);
    font-size: 62px;
    font-weight: 300;
    position: relative;
}
.hero__info-title::before {
    content: url(./img/title-line.svg);
    position: absolute;
    top: 25px;
    left: 0;
}
.hero__info-text {
    margin: 0;
    margin-top: 80px;
    color: var(--mainFont);
    font-size: 26px;
}
@media (max-width: 1228px) {
    .hero__info-title::before {
        top: 110px;
        left: 0;
    }
    .hero__info-text {
        margin-top: 40px;
    }
}
@media (max-width: 1047px) {
    .hero__info-title::before {
        top: 110px;
        left: 0;
        content: url(./img/hero-line-mobile.svg);
    }
    .hero__image::before {
        display: none;
    }
}
.hero__info-text:last-child {
    margin-top: 20px;
}
.hero__image {
    position: relative;
    z-index: 1;
}
.image {
    position: relative;
    width: 100%;
    z-index: 2;
}
.hero__image::before {
    content: url(./img/hero-lines.svg);
    position: absolute;
    top: -53px;
    right: -100px;
    z-index: 0;
}
.about {
    background-image: url(./img/about.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about > .container {
    padding: 90px 0;
}
.about__info {
    background: rgba(249, 249, 255, 0.7);
    margin: 60px auto 50px auto;
    max-width: 653px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 70px 110px;
    text-align: center;
    gap: 25px 0;
}
.about__info-text {
    margin: 0;
}
.about__info-text:last-child {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    max-width: 65%;
}
.about__btn {
    padding: 8px 3px;
    margin: 0 auto;
    background: rgba(249, 249, 255, 0.7);
}
.supervision {
    background-color: #fff;
    position: relative;
    padding: 0 10px;
}
.supervision::before {
    position: absolute;
    content: url(./img/supervision-left.svg);
    top: 80px;
    left: 0;
}
.supervision::after {
    position: absolute;
    content: url(./img/supervision-right.svg);
    bottom: -5px;
    right: 0;
}
.supervision > .container {
    padding-top: 150px;
    padding-bottom: 70px;
    max-width: 780px;
    text-align: center;
}
.requests {
    padding: 0 10px;
}
.requests > .container {
    position: relative;
}
.requests .title {
    margin-top: 100px;
}
.requests > .container > .title {
    margin-left: 120px;
}
.requests > .container > hr {
    position: absolute;
    top: 58%;
    left: 10%;
    width: calc(100% - 120px);
    color: #cecece;
    z-index: -1;
}
.requests__troubles {
    display: -ms-grid;
    display: grid;
    max-width: 1010px;
    -ms-grid-columns: minmax(160px, 195px) 20px minmax(500px, 660px);
    grid-template-columns: minmax(160px, 195px) minmax(500px, 660px);
    gap: 0 20px;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 90px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}
.requests__troubles > img {
    -ms-grid-row-align: start;
    -ms-grid-column-align: start;
    place-self: start start;
}
.requests__info-title {
    color: #952121;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 24px;
}
.invividuals__title {
    color: #219541;
}
.requests__info-text {
    margin-bottom: 20px;
}
.requests__info-list {
    margin-bottom: 20px;
    list-style-image: url(./img/list-arrow.svg);
}
.requests__info-list li {
    padding-left: 20px;
    margin-bottom: 10px;
}
.requests__info-closing {
    margin-bottom: 40px;
}
.requests__troubles-btn {
    background-color: #fff;
    padding: 8px 16px;
}
.requests__individuals {
    display: -ms-grid;
    display: grid;
    max-width: 1010px;
    -ms-grid-columns: minmax(500px, 660px) 20px minmax(160px, 195px);
    grid-template-columns: minmax(500px, 660px) minmax(160px, 195px);
    gap: 0 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 120px;
}
.requests__individuals > img {
    -ms-grid-row-align: start;
    -ms-grid-column-align: end;
    place-self: start end;
}
.invividuals__list {
    margin-bottom: 40px;
}
.requests__individuals-btn {
    background-color: #fff;
    padding: 8px 16px;
    margin-bottom: 100px;
    margin-bottom: 13px;
}
.requests__ps {
    display: inline-block;
    font-size: 14px;
    max-width: 363px;
}
.trust {
    background-image: url(./img/trust-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.trust > .container {
    padding: 80px 0;
}
.trust__cards {
    display: -ms-grid;
    display: grid;
    margin: 0 auto;
    margin-top: 95px;
    max-width: 770px;
    -ms-grid-columns: minmax(340px, 1fr) 70px minmax(340px, 1fr);
    grid-template-columns: repeat(2, minmax(340px, 1fr));
    gap: 50px 70px;
}
.trust__card {
    background: rgba(249, 249, 255, 0.7);
    padding: 30px 30px;
    position: relative;
}
.trust__card::after {
    content: url(./img/card-line.svg);
    position: absolute;
    top: 55px;
    right: 0;
}
.trust__card-title {
    color: var(--blue);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 45px;
}
.price {
    padding: 0 10px;
}
.price > .container {
    padding-top: 120px;
}
.price__online {
    margin: 0 auto;
    margin-top: 80px;
    display: -ms-grid;
    display: grid;
    max-width: 900px;
    -ms-grid-columns: minmax(150px, 265px) minmax(300px, 545px);
    grid-template-columns: minmax(150px, 265px) minmax(300px, 545px);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}
.price__online > img {
    -ms-grid-row-align: flex-start;
    -ms-grid-column-align: center;
    place-self: flex-start center;
    width: 100%;
}
.price__offline {
    margin: 0 auto;
    margin-top: 150px;
    display: -ms-grid;
    display: grid;
    max-width: 900px;
    -ms-grid-columns: minmax(375px, 575px) minmax(225px, 325px);
    grid-template-columns: minmax(375px, 575px) minmax(225px, 325px);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}
.price__online > hr,
.price__offline > hr {
    position: absolute;
    left: -70px;
    bottom: -70px;
    width: 110%;
    color: #cecece;
    z-index: -1;
}
.price__title {
    color: #219541;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 25px;
}
.price__offline-info > .price__title {
    color: #952121;
}
.price__title span {
    color: #333;
    font-size: 18px;
    font-weight: 300;
}
.price__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(160px, 1fr) 15px minmax(290px, 1fr);
    grid-template-columns: minmax(160px, 1fr) minmax(290px, 1fr);
    gap: 0 15px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-left: 25px;
}
.price__card > div:first-child {
    margin-bottom: 10px;
    position: relative;
}
.price__card > div:first-child::before {
    position: absolute;
    content: url(./img/Rectangle.svg);
    top: 5px;
    left: -25px;
}
.price__card > div:nth-child(2) {
    margin-bottom: 25px;
}
.price__card > div:last-child {
    color: var(--blue);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 400;
}
.price__offline > img {
    -ms-grid-row-align: flex-start;
    -ms-grid-column-align: center;
    place-self: flex-start center;
    width: 100%;
}
.price__btn {
    background-color: white;
    padding: 8px 16px;
}
.price__video {
    margin: 0 auto;
    margin-top: 140px;
    max-width: 900px;
    display: -ms-grid;
    display: grid;
    gap: 0 10px;
    -ms-grid-columns: minmax(150px, 230px) 10px minmax(420px, 540px);
    grid-template-columns: minmax(150px, 230px) minmax(420px, 540px);
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.price__video > img {
    margin-top: 20px;
    -ms-grid-row-align: flex-start;
    -ms-grid-column-align: center;
    place-self: flex-start center;
    width: 100%;
}
.price__video-title {
    color: var(--blue);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}
.price__video-card {
    margin-bottom: 40px;
}
.price__video-price {
    font-weight: 400;
    margin-bottom: 10px;
}
.algorithm {
    padding: 0 10px;
    position: relative;
}
.algorithm > .container {
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    max-width: 1010px;
    -ms-grid-columns: minmax(192px, 285px) 20px minmax(192px, 285px) 20px
        minmax(192px, 285px);
    grid-template-columns: repeat(3, minmax(192px, 285px));
    gap: 0 20px;
    padding: 120px 0;
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.algorithm__step-title {
    color: var(--blue);
    font-size: 20px;
    font-weight: 400;
}
.algorithm > hr {
    position: absolute;
    left: 0;
    top: 165px;
    width: 100%;
    color: #75756a;
    z-index: -1;
}
.memo {
    background-image: url(./img/memo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.memo > .container {
    padding-top: 80px;
    padding-bottom: 85px;
}
.memo__text {
    margin: 0 auto;
    margin-top: 85px;
    margin-bottom: 50px;
    padding: 40px;
    text-align: center;
    max-width: 445px;
    background: rgba(249, 249, 255, 0.7);
}
.memo__text > p:last-child {
    margin-top: 30px;
}
.memo__btn {
    background: rgba(249, 249, 255, 0.7);
    margin: 0 auto;
    padding: 7px 34px;
}

.diploma > .container {
    padding-top: 120px;
    padding-bottom: 90px;
}
.slideshow-container {
    max-width: 65%;
    position: relative;
    margin: 0 auto;
    margin-top: 85px;
    padding-bottom: 150px;
}
.mySlides {
    display: none;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 100px);
    width: auto;
    color: black;
    -webkit-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    transition: 0.6s ease;
}
.prev {
    left: -90px;
}
.next {
    right: -90px;
}
.prev:hover,
.next:hover {
    scale: 1.2;
}
.text {
    color: black;
    font-size: 14px;

    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}
.numbertext {
    color: black;
    font-size: 24px;
    font-weight: 400;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dots-container {
    position: relative;
}
.dots-container::before {
    position: absolute;
    content: url(./img/diploma-line.svg);
    top: -120px;
    left: calc((100% - 725px) / 2);
}
.dots {
    position: absolute;
    bottom: 125px;
    left: calc(50% - 45px);
}
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    -o-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
}
.active,
.dot:hover {
    background-color: #717171;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
.contacts {
    padding-top: 80px;
    position: relative;
}
.contacts::after {
    content: url(./img/contacts-img.png);
    position: absolute;
    top: 40px;
    right: 55px;
}
@media (max-width: 960px) {
    .contacts::after {
        top: -15px;
        right: 0;
    }
}
.contacts > hr {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    color: #75756a;
    z-index: -1;
}
.contacts__info {
    margin: 0 auto;
    margin-top: 85px;
    margin-bottom: 105px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 240px;
    text-align: center;
}
.contacts__info-phone {
    font-size: 20px;
    margin-bottom: 17px;
    position: relative;
}
.contacts__info-phone::before {
    content: url(./img/phone-icon.svg);
    position: absolute;
    top: 2px;
    left: 10px;
}
.contacts__info-email {
    font-size: 20px;
    margin-bottom: 30px;
    position: relative;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.contacts__info-email::before {
    content: url(./img/email-icon.svg);
    position: absolute;
    top: 2px;
    left: -35px;
}
.contacts__info-tg,
.contacts__info-wa {
    padding: 8px 0;
}
.contacts__info-tg {
    margin-bottom: 17px;
}
.footer {
    background: var(--footerbg);
}
.footer > .container {
    padding: 40px 60px 50px 60px;
    display: -ms-grid;
    display: grid;
    grid-template-areas:
        'name groups psy'
        'desc  groups psy'
        'location groups psy';
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer__info-name {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-row: 1;
    grid-column: 1;
    grid-area: name;
    color: #5f90d9;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer__info-desc {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-row: 2;
    grid-column: 1;
    max-width: 305px;
    grid-area: desc;
    color: #dbdada;
    margin-bottom: 60px;
}
.footer__info-location {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-row: 3;
    grid-column: 1;
    grid-area: location;
    color: #dbdada;
}
.footer__groups {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-column: 2;
    grid-area: groups;
    -ms-grid-row-align: end;
    -ms-grid-column-align: center;
    place-self: end center;
}
.footer__groups > a:first-child {
    margin-right: 30px;
}
.footer__psy {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    grid-column: 3;
    margin-left: 180px;
    grid-area: psy;
    -ms-grid-row-align: end;
    -ms-grid-column-align: end;
    place-self: end end;
}
.social-icons {
    display: none;
}
